body {
    position: relative;
    padding: 0;
  }

  #topbar {
    height: 80px;
    background-color: #FFFFFF;
    width: 100%;
  }

  #brandName {
    padding: 2% 5% 2% 3%;
    cursor: pointer;
  }

  #jxsearchbox-blog {
    width: 30%;
    margin-top: 2% !important;

  }

  .topbar-options {
    float: left;
  }

  .custom-select {
    border-radius: 50px;
    border-right: none;
    height: 50px;
    z-index: 1;
    font-size: 12px;
    padding-left: 5%;

  }

  .jx_blog_search_query {
    border-radius: 50px;
    border-left: none !important;
    height: 50px;
    margin-left: -30px;
    padding-left: 30px;
    font-size: 12px;
    width: 140% !important;
  }

  .jx_blog_search_query:focus {

    outline: none !important;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 0 #CED4DA;
    border-color: #CED4DA;
  }

  .custom-select:focus {
    outline: none !important;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 0 #CED4DA;
    border-color: #CED4DA;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  #mag {
    float: left;
    margin-top: -40px;
    margin-left: 150px;
  }

  .fa-search {
    color: #19B3BD;
  }

  .fa-search:hover {
    color: black;
  }

  #language-selector {
    margin-top: 2% !important;
    float: right;
    margin-right: 3% !important;
  }

  #setting {
    float: right;
    margin-top: 2%;
  }

  .fa-cog {
    color: #19B3BD;
  }

  .fa-cog:hover {
    color: black;
  }

  #heart {
    float: right;
    margin-top: 2%;
    margin-left: 3%;
  }

  .fa-heart-o {
    color: #19B3BD;
  }

  .fa-heart-o:hover {
    color: black;
  }

  #user {
    float: right;
    margin-top: 2%;
    margin-left: 3%;
  }

  .fa-user-o {
    color: #19B3BD;
  }

  .fa-user-o:hover {
    color: black;
  }

  .fa {
    font-size: 1.3em !important;/size whatever you like/
  }

  #shoppingKart {
    float: right;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 4%;
  }

  .fa-shopping-cart {
    color: #19B3BD;
  }

  .fa-shopping-cart:hover {
    color: black;
  }

  #topMenu {
    margin-top: -22px;
    display: inline-block;
    height: 50px;
    background-color: #ffffff;
    width: 100%;
    float: left !important;
    margin-bottom: 1%;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 10px;
  }

  .menuitems {
    margin-top: 2%;
    float: left !important;
    margin:0 1.4%;
    margin-top: 15px !important;
  }

  .menulinks {
    color: black;
    font-weight: 500;

  }

  .menulinks:hover {
    text-decoration: none;
    color: #52C6CE !important;
  }

/* sort by */

.home{
  display: inline;
}

.sort-by{
  padding-top: 35px;
  padding-left: 20px;
}

.hist-section{
  font-size: 14px;
  margin-left: 10px;
}

.page-name{
  font-size:2.2rem;
  font-weight: 600;
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.no-products{
  font-size: 1rem;
  margin-left: 10px;
  color: #9ba4b4;
}

.dropbtn {
  background-color: pink			;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: pink;}

  .left-section-1 {
      margin-left:4%;
      height: 100%;

    }


    .FILTER-BY {
      margin-top: 55px;
    }

    /* FILTER BY COLOR */
    .checkbox-container {
      display: flex;
      align-items: center;
    }

    .checkbox-container label {
      cursor: pointer;
      display: flex;
      font-size: 1rem;
    }

    .checkbox-container input[type="checkbox"] {
      cursor: pointer;
      opacity: 0;
      position: absolute;
    }

    .checkbox-container label::before {
      content: '';
      width: 1em;
      height: 1em;
      border: 0.05em solid #19b3bd;
      border-radius: 100%;
      margin-right: 0.5em;
      margin-top: .3rem;
    }

    .gray input[type="checkbox"]+label::before {
      background-color: gray;
      border-color: gray;
    }

    .gray label:hover::before,
    .gray input[type="checkbox"]:hover+label::before {
      background-color: gray;
      border-color: gray;
    }

    .white input[type="checkbox"]+label::before {
      background-color: white;
      border-color: #8a8585;
    }

    .white label:hover::before,
    .white input[type="checkbox"]:hover+label::before {
      background-color: white;
      border-color: #8a8585;
    }

    .red input[type="checkbox"]+label::before {
      background-color: red;
      border-color: red;
    }

    .red label:hover::before,
    .red input[type="checkbox"]:hover+label::before {
      background-color: red;
      border-color: red;
    }

    .black input[type="checkbox"]+label::before {
      background-color: black;
      border-color: black;
    }

    .black label:hover::before,
    .black input[type="checkbox"]:hover+label::before {
      background-color: black;
      border-color: black;
    }

    .orange input[type="checkbox"]+label::before {
      background-color: orange;
      border-color: orange;
    }

    .orange label:hover::before,
    .orange input[type="checkbox"]:hover+label::before {
      background-color: orange;
      border-color: orange;
    }

    .blue input[type="checkbox"]+label::before {
      background-color: blue;
      border-color: blue;
    }

    .blue label:hover::before,
    .blue input[type="checkbox"]:hover+label::before {
      background-color: blue;
      border-color: blue;
    }

    .green input[type="checkbox"]+label::before {
      background-color: green;
      border-color: green;
    }

    .green label:hover::before,
    .green input[type="checkbox"]:hover+label::before {
      background-color: green;
      border-color: green;
    }

    .yellow input[type="checkbox"]+label::before {
      background-color: yellow;
      border-color: yellow;
    }

    .yellow label:hover::before,
    .yellow input[type="checkbox"]:hover+label::before {
      background-color: yellow;
      border-color: yellow;
    }

    .pink input[type="checkbox"]+label::before {
      background-color: pink;
      border-color: pink;
    }

    .pink label:hover::before,
    .pink input[type="checkbox"]:hover+label::before {
      background-color: pink;
      border-color: pink;
    }

    .checkbox-container input[type=checkbox]:focus+label::before {
      box-shadow: 0 0 0.25em #19b3bd;
    }

    .checkbox-container input[type="checkbox"]+label::before {
      font-family: 'fontawesome';
      display: inline-block;
    }

    .checkbox-container input[type="checkbox"]:checked+label::before {
      content: '\f058';
      background-color: #19b3bd;
    display: flex;
    justify-content: center;
    align-items: center;
      color: white;
      border-color: #19b3bd;
    }

    .input {
      -webkit-appearance: none;
    }

    .checkbox-container {
      margin-bottom: 20px;
    }

    .colors-container {
      margin-top: 20px;
    }

    /* FILTER BY AGE */
    .age-container {
      margin-top: 20px;
    }

    /* FILTER BY TYPE OF CARE  */
    .type-of-age-container {
      margin-top: 20px;
    }

    /* FILTER BY SYMPTOM */
    .by-symptom-container {
      margin-top: 20px;
    }

    /* FILTER BY PACKAGE QUANTITY */
    .by-package-quantity-container {
      margin-top: 20px;
    }

    /* FILTER BY INGREDIENTS */
    .by-ingredients-container {
      margin-top: 20px;
    }

    /* FILTER BY DELIVERY AND RETURN */
    .by-delivery-and-return-container {
      margin-top: 20px;
    }

    /* FILTER BY AVAILABILITY */
    .by-availability-container {
      margin-top: 20px;
    }

    /* FILTER BY BRAND1*/
    .by-brand1-container {
      margin-top: 20px;
    }

    /* FILTER BY PRICE */
    .range-subheading {
      margin: 1.42rem auto 0.5rem;
    }

    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slider>p {
      font-size: 20px;
      font-weight: 600;
      font-family: sans-serif;
      padding-left: 20px;
      color: #19b3bd;
    }

    .slider input[type="range"] {
      -webkit-appearance: none !important;
      width: 200px;
      height: 5px;
      background: #19b3bd;
      border: none;
      outline: none;
      border-radius: 50px;
    }

    .slider input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 2px solid #19b3bd;
      border-radius: 50%;
      cursor: pointer;
    }

    .slider input[type="range"]::-webkit-slider-thumb:hover {
      background: #19b3bd;
    }

    /* FILTER BY SUPPLIERS and */
    /* FILTER BY BRANDS2 */
    .supply {
      padding-top: 15px;
    }

    .heads {
      padding-left: 15px;
    }

    .brands2,
    .supplies {
      margin-bottom: 2px;
    }

    a {
      color: black;
    }

    a:hover {
      color: #71c9ce;
      text-decoration: none;
    }

    ul {
      list-style: none;
    }

    ul li::before {
      content: "\2022";
      color: #71c9ce;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      font-size: 1.5rem;
    }

    .by-brands2-container,
    .by-price-containers {
      margin-top: 20px;
    }
